/**********************************
 Practica 0401
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/*********************
  CONTENIDOS

  $Imports
  $Fuente
  $Estructura básica
  $Copos suelo
  $Arboles
  $Copos
  $Animacion
  $Texto
***********************/

/*---------------
  $IMPORTS
-----------------*/

@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "mixins/formas_geometricas";

/*---------------
  $FUENTE
-----------------*/

@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

body {
    font-family: 'Mountains of Christmas', cursive;
}

/*-------------------
  $ESTRUCTURA BÁSICA
---------------------*/

/* Colores */
$color-cielo-noche: #0D0F14;
$color-cielo-atardecer: #001742;
$color-cielo-horizonte: #354970;
$color-nieve-horizonte: #E3F0EF;
$color-nieve: #FFF0EF;

.postal {
    height: 100vh;
}

.navidad {
    height: 100%;
}

.cielo {
    position: relative;
    height: 80%;
    @include background(linear-gradient(to bottom, $color-cielo-noche 0%, $color-cielo-noche 20%, $color-cielo-atardecer 60%, $color-cielo-horizonte 100%));
}

.suelo {
    position: relative;
    height: 20%;
    @include background(linear-gradient(to bottom, $color-nieve-horizonte 0%, $color-nieve 100%));
}

/*-------------------
  $COPOS SUELO
---------------------*/

$copos_en_suelo: 20;
$color-copos: #FEFEFE;
$sombra-copos: #E0E0A9;

@for $i from 0 to $copos_en_suelo {
    
    .copo-suelo-#{$i} {
        position: absolute;
        top: random(75) * 1%;
        left: random(100) * 1vw;
        box-shadow: 4px 0px 2px $sombra-copos;
        @include semicirculo(random(7) + 10px, $color-copos);    // radios entre 10 y 17px
    }
}

/*-------------------
  $ARBOLES
---------------------*/

$arboles: 3;
$color-tronco-oscuro: #3D200F;
$color-tronco-claro: #64442C;
$color-copa-oscuro: #2B6439;
$color-copa-claro: #459646;

%arbol {
    position: absolute;
    z-index: 10;
    // border: 1px solid red;
}

.tronco {
    position: relative;
    margin: 0% auto; 
    top: 20%;
    
    @include rectangulo(15%, 80%) {
        @include background(linear-gradient(to left, $color-tronco-oscuro 0%, $color-tronco-claro 100%));
    };
} 

%copa {
    z-index: 22;
    position: absolute;
}

.copa--der--mediana {
    @extend %copa;
    
    top: 10px;
    left: 50%; 
    @include triangulo(60px, 40px, $color-copa-oscuro);   
}

.copa--izq--mediana {
    @extend %copa;
    
    top: 10px;
    right: 50%; 
    @include triangulo(60px, 40px, $color-copa-claro) {
        transform:scale(-1,1);
    };
}

.copa--der--grande {
    @extend %copa;
    
    top: 10px;
    left: 50%; 
    @include triangulo(90px, 40px, $color-copa-oscuro);
}

.copa--izq--grande {
    @extend %copa;
    
    top: 10px;
    right: 50%; 
    @include triangulo(90px, 40px, $color-copa-claro) {
        transform:scale(-1,1);
    };;
}

@for $i from 0 to $arboles {

    .arbol--mediano-#{$i} {
        @extend %arbol;
    
        bottom: (random(17) + 3) * -1%;
        left: 50px + $i * $i * 130px;
        
        height: 200px;
        width: 100px;
    }
}

/*-------------------
  $COPOS
---------------------*/

$copos: 20;

.copo {
    
    @include circulo((random(1) + 2) * 1px,white) {
        opacity: 0.8;
    };
    
    position: absolute;
    
    z-index:23;
   
    @include animation-name(nevando);
    @include animation-timing-function(linear);
    @include animation-duration(10s);
    @include animation-iteration-count(infinite);
    
    @for $i from 1 through $copos {
        $left: ((100/$copos) * $i * 1%);
        $a: random(3000)+3000;
    
        &:nth-of-type(#{$i}n) {
            left: $left;
            @include animation-duration(#{$a}ms);
        }
    }
}

/*-------------------
  $ANIMACION
---------------------*/

@include keyframes(nevando) {
    0% {
        opacity: 0;
        @include transform(translate(0,0));
    }
    
    40% {
        opacity: 0.8;
    }
  
    80% {
        opacity: 0.8;
    }
  
    100% {
        opacity: 0;
        @include transform(translate(4vw,90vh));
    }
}

/*-------------------
  $TEXTO
---------------------*/

/* Colores */
$color0: #f79fc5;
$color1: #ff6d51;
$color2: #f3b140;
$color3: #f9d53a;
$color4: #87b1d3;
$color5: #5bd9c3;
$color6: #7861be;
$color7: #a9c688;
$lista-colores: $color0, $color1, $color2, $color3, $color4, $color5, $color6, $color7;

h1 {
    span {
        font-size: 6vw;
        height: 50vw;
        position: absolute;
        width: 20px;
        left: 50%;
        top: 5%;
     
        transform-origin: bottom center;
        z-index: 24;        
    }
}

@for $i from 1 through 16 {
    .char#{$i} {
        @include transform(rotate((($i - 8) * 6)+deg));
        $color: nth($lista-colores, random(6));
        color: $color;
      
        &:hover {
            color: lighten($color, 40%); 
        }
    }
}

