/**********************************************
 Mixins para la creación de formas geométricas 
 a partir de DIVs
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************************/

@import "compass/css3/border-radius";

// Dibuja un cuadrado
// $lado: lado del cuadrado (con unidades). Por defecto 100px
// $color: color del cuadrado. Por defecto red
@mixin cuadrado($lado: 100px, $color: red) {
    
        width: $lado;
        height: $lado;
        background: $color;
        @content;
}

// Dibuja un rectángulo
// $ladoH: lado H del rectángulo (con unidades). Por defecto 100px
// $ladoV: lado V del rectángulo (con unidades). Por defecto 100px
// $color: color del rectángulo. Por defecto red
@mixin rectangulo($ladoH: 100px, $ladoV: 100px, $color: red) {

    width: $ladoH;
    height: $ladoV;
    background: $color;
    @content;
}


// Dibuja un rectángulo
// $ladoH: lado H del rectángulo (con unidades). Por defecto 100px
// $ratio: ratio entre el lado vertical y el horizontal. Por defecto 0.5
// $color: color del rectángulo. Por defecto red
@mixin rectangulo-ratio($ladoH: 100px, $ratio: 0.5, $color: red) {
    
    $ladoV: ladoH * $ratio;

    width: $ladoH;
    height: $ladoV;
    background: $color;
    @content;
}

// Dibuja un círculo
// $lado: radio del círculo (con unidades). Por defecto 20px
// $color: color del cuadrado. Por defecto blanco
@mixin circulo($radio:20px, $color: #fff) {
    width: $radio*2;
    height: $radio*2;
    @include border-radius($radio $radio $radio $radio);
    background: $color;
    @content;
}

// Dibuja un semicirculo
// $lado: radio del semicirculo (con unidades). Por defecto 20px
// $color: color del cuadrado. Por defecto blanco
@mixin semicirculo($radio: 20px, $color: #fff) {
    
    width: $radio*2;
    height: $radio;
    background: $color;
    @include border-radius($radio $radio 0px 0px);
}
  
// Dibuja un triangulo rectángulo
// $alto: alto del triángulo (con unidades). Por defecto 20px
// $ancho: ancho del triángulo (con unidades). Por defecto 20px
// $color: color del cuadrado. Por defecto blanco
@mixin triangulo($alto: 20px, $ancho: 20px, $color: #fff) {
    
    width: 0;
    height: 0;
    border-right: $ancho solid transparent;
    border-top: $alto solid transparent;
    border-left: $ancho solid $color;
    border-bottom: $alto solid $color;
    @content;
}


