doctype html
html(lang="en")
    head
        title DIW. Actividad 0401
        link(href='./css/main.css', rel='stylesheet')
        meta(charset='utf-8')
        meta(name="description" content="DIW. Actividad 0401")
    
    body
  
        h1
            span(class="char1") ¡
            span(class="char2") F
            span(class="char3") E
            span(class="char4") L
            span(class="char5") I
            span(class="char6") Z
            span(class="char7")  
            span(class="char8") N
            span(class="char9") A
            span(class="char10") V
            span(class="char11") I
            span(class="char12") D
            span(class="char13") A
            span(class="char14") D
            span(class="char15") !
        
        - var estrellas = 15;
        - var arboles = 3;
        - var copos = 20;

        .postal
            .navidad
                .cielo
                    -for (var i=0;i<arboles;i++)
                        div(class="arbol--mediano-" + i)
                            .copa--izq--mediana
                            .copa--der--mediana 
                            .copa--izq--grande
                            .copa--der--grande 
                            .tronco
                        
                    -for (var i2=0;i2<copos;i2++)
                        div(class="copo")
            
                    -for (var i3=0;i3<estrellas;i3++)
                        .estrella
            
                .suelo  
                    -for (i4=0;i4<copos;i4++)
                        div(class="copo-suelo-" + i4)
        
            .nochevieja